@import "../../../styles/utils/utils";

.Role {
  border-radius: 6px;
  padding: 5px 10px;
  box-sizing: border-box;
  color: #000;

  .Header {
    display: flex;
  }

  .Title {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .Switch {
    margin-left: auto;
  }
}