@import "../../styles/utils/utils";

.LoginBox {
  border-radius: 6px;
  padding: 30px 20px;
  box-shadow: 0 2px 12px 0 $LIGHT_SHADOW;
  box-sizing: border-box;
  color: #000;

  .Title {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
  }
}

.Row {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: auto;

  .Column {
    padding: 10px;
    box-sizing: border-box;
    margin: auto;

    
  }
}